* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --primary: #0065fc;
  --secondary: #f2f2f2;
}
html {
  max-width: 1440px;
  margin: auto;
}
body {
  max-width: 1440px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.logo img {
  height: 40px;
  margin-left: 20px;
}
.links a {
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  padding: 46px;
}
.links a:hover {
  border-top: 3px solid var(--primary);
  color: var(--primary);
}
section {
  margin: 35px 40px;
}
.slogan {
  line-height: 15px;
  margin-bottom: 30px;
}

.slogan h1 {
  font-size: 22px;
  font-weight: 700;
}
.slogan p {
  margin-left: -0px;
}
form {
  margin-top: 20px;
}
.search-section {
  display: flex;
  width: 100px;
}
.search-section i {
  background-color: var(--secondary);
  padding: 18px 20px;
  border-radius: 16px 0 0 16px;
  text-align: center;
}
.search-bar {
  border-top: 1px var(--secondary) solid;
  border-bottom: 1px var(--secondary) solid;
  border-left: none;
  border-right: none;
  width: 240px;
  font-size: 18px;
  color: black;
  font-weight: 600;
  padding-left: 20px;
}
.search {
  color: white;
  background-color: var(--primary);
  border-radius: 0 16px 16px 0;
  border: #0065fc solid;
  font-size: 18px;
  font-weight: 600;
}
.search i {
  display: none;
}
.search:hover {
  cursor: pointer;
  opacity: 0.9;
}
.search-bar:focus {
  outline: none;
}
.search-bar:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.search-bar::placeholder {
  color: black;
  font-weight: 700;
}
.filtres {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.filtre-box {
  display: flex;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 48px;
  cursor: pointer;
  transition: 0.2s;
}
.filtre-box:hover {
  transform: scale(1.2);
}
.filtre-box span {
  font-weight: 700;
  padding: 0 16px;
  font-size: 18px;
}
.filtre-box i {
  color: var(--primary);
  padding: 16px;
  background-color: #deebff;
  border-radius: 100%;
  font-size: 20px;
  margin-left: -2px;
  margin-top: -2px;
}
.filtres h2 {
  font-size: 18px;
}
.fa-solid .fa-money-bill-wave {
  font-size: 50px;
}
.information {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.information i {
  color: var(--primary);
  background-color: white;
  font-size: 12px;
  font-weight: bolder;
  width: 22px;
  height: 22px;
  border: 1px #d9d9d9 solid;
  border-radius: 50%;
  text-align: center;
  padding: 4px;
  margin-right: 10px;
}
.hotels {
  display: flex;
  gap: 2%;
}
.hebergement__section {
  background-color: #f2f2f2;
  border-radius: 24px;
  flex: 66%;
}

.side-bar {
  background-color: #f2f2f2;
  border-radius: 24px;
  order: 2;
  flex: 32%;
}
.hebergement-title {
  margin: 32px 32px 0px 32px;
}

.hebergement__cards {
  display: flex;
  margin: 16px;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
}

section a {
  text-decoration: none;
  color: black;
}
.cards {
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.2s;
  box-shadow: 0 0 20px #0000002e;
  width: 600px;
  max-width: 30%;
}
.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 16px;
}
.cards:hover {
  cursor: pointer;
  transform: scale(1.05);
}
h3 {
  margin: 4px 12px 0 12px;
}
.cards p {
  margin: 4px 12px;
}

.see-more {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 18px;
  margin-left: 32px;
}
.cards img {
  object-fit: cover;
  width: 100%;
  height: 119px;
  border-radius: 16px 16px 0 0;
}
.cards .stars {
  margin-left: 12px;
}
i {
  font-size: 12px;
  margin-left: -3px;
}
.checked {
  color: var(--primary);
}
.unchecked {
  color: #d9d9d9;
}

.aside-cards {
  display: flex;
  flex-direction: column;
  margin: 0 16px 16px 16px;
}

.populaire-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 32px 0px 32px;
}
.populaire-title i {
  font-size: 24px;
}
.side-bar h2 {
  margin-bottom: 32px;
}

.aside-card {
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  gap: 10px;
  transition: 0.2s;
  margin-bottom: 16px;
}
.aside-card:hover {
  transform: scale(1.05);
}
.aside-card img {
  object-fit: cover;
  width: 40%;

  border-radius: 16px 0 0 16px;
}
.aside-cards a {
  text-decoration: none;
  color: black;
}
.aside-cards:hover {
  cursor: pointer;
}
.aside-card h4 {
  margin-top: 10px;
  font-weight: bold;
}
.aside-card p {
  margin: 5px 10px;
}
.aside-card .stars {
  margin: 50px 0 10px 10px;
}
.activities {
  display: flex;
  gap: 2%;
}
.activities a {
  transition: 0.2s;
}
.activities a:hover {
  transform: scale(1.05);
}

section > h2 {
  margin: 32px;
  font-size: 22px;
}

.activity-card-1 img,
.activity-card-3 img {
  object-fit: cover;
  width: 100%;
  height: 378.6px;
  border-radius: 20px 20px 0 0;
}

.activity-card-2 .cards-fraction img {
  object-fit: cover;
  width: 100%;
  height: 179.53px;
  border-radius: 20px 20px 0 0;
}
.cards-fraction-2 img {
  object-fit: cover;
  width: 100%;
  height: 109.1px;
  border-radius: 20px 20px 0 0;
}
.activity-card-4 img {
  object-fit: cover;
  width: 100%;
  height: 196px;
  border-radius: 20px 20px 0 0;
}
.cards-fraction-4 img {
  object-fit: cover;
  width: 100%;
  height: 159.2px;
  border-radius: 20px 20px 0 0;
}
.cards-fraction-4,
.cards-fraction-2 {
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
}
.cards-fraction {
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
}

.activity-card-1 {
  flex: 23%;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
}
.activity-card-3 {
  flex: 48%;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
}
.activity-card-2,
.activity-card-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 50%;
}
.activity-cards h3 {
  padding: 14px 6px;
  font-weight: 800;
  font-size: 18px;
}

#image-4 {
  height: 130.12px;
}
footer {
  margin-top: 40px;
  display: flex;
  background: #f2f2f2;
  padding: 45px;
  width: 100%;
  /* gap: 220px; flex gap not supported under safari 14 version */
}
footer h2 {
  font-size: 18px;
  margin-bottom: 20px;
}
footer li {
  list-style: none;
  padding-top: 8px;
  text-decoration: none;
  padding-left: 0px;
}
footer li a {
  font-size: 16px;
  color: black;
  list-style: none;
  padding-top: 8px;
  text-decoration: none;
}
ul {
  padding-left: 0px;
  margin-right: 220px;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .hotels {
    display: block;
  }
  .hebergement-cards {
    width: 100%;
  }
  .aside-card img {
    height: 139px;
  }
  .activities {
    flex-wrap: wrap;
    flex-direction: column;
  }
  footer {
    width: 100%;
  }
  ul {
    margin-right: 100px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .logo img {
    height: 45px;
    align-items: center;
  }
  nav {
    display: block;
  }
  .links {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
  .links a {
    padding: 16px;
    border-bottom: 3px solid #d9d9d9;
    flex-basis: 50%;
    text-align: center;
  }
  .links a:hover {
    border-bottom: 3px var(--primary) solid;
    color: var(--primary);
    border-top: hidden;
  }
  section {
    margin: 30px 20px;
  }
  .slogan h1 {
    font-size: 22px;
    font-weight: 800;
    line-height: normal;
  }
  form {
    margin-top: 30px;
  }

  .search span {
    display: none;
  }
  .search {
    border-radius: 16px;
  }
  .search i {
    color: white;
    background-color: var(--primary);
    padding: 8px;
  }
  .search i {
    display: block;
  }
  .search i:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  .filtres {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .filtre-box span {
    font-weight: 700;
    padding: 0 12px;
    font-size: 16px;
  }
  .hotels {
    display: block;
    margin: 0;
  }
  .hebergement__section {
    margin-bottom: 10px;
    flex: 100%;
    order: 2;
    background-color: white;
  }
  .hebergement__cards {
    display: block;
    margin: 0px 15px;
  }
  .cards {
    width: 767px;
    max-width: 100%;
    margin-bottom: 32px;
  }
  .side-bar {
    background-color: #f2f2f2;
    height: 580px;
    border-radius: 0px;
  }

  .see-more {
    margin-top: 10px;
  }

  .cards img {
    width: 100%;
    height: 119px;
  }
  .aside-cards {
    display: block;
    margin: 5px;
  }
  .populaire-title {
    margin: 10px;
  }
  .populaire-title i {
    font-size: 20px;
  }
  .side-bar h2 {
    font-size: 22px;
  }
  .aside-card {
    margin: 10px;
  }
  .aside-card img {
    object-fit: cover;
    width: 40%;
    height: 139px;
    border-radius: 16px 0 0 16px;
  }
  .aside-card .stars {
    margin: 40px 0 0 10px;
  }
  .aside-card .stars i {
    font-size: 10px;
  }
  .activities {
    display: block;
  }
  .activity-cards {
    margin-bottom: 20px;
  }
  #activity {
    margin-left: 0px;
  }

  .activity-card-1 img,
  .activity-card-3 img {
    width: 100%;
    height: 120px;
  }
  .activity-card-2,
  .activity-card-4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .activity-card-2 .cards-fraction img {
    width: 100%;
    height: 120px;
  }
  .cards-fraction-2 img,
  .activity-card-4 img,
  .cards-fraction-4 img {
    width: 100%;
    height: 120px;
  }
  footer {
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    gap: 5px;
  }
}
